<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <listeners>
        <listener class-name="listeners.ScreenshotListener" />
    </listeners>
    <test name="Software Testing Homework 3.2">
        <classes>
            <class name="tests.Test1" />
        </classes>
    </test>
</suite>
